/* 
.container {
  display: flex;
} */
body {
  overflow: hidden;
}
@import url("https://fonts.google.com/share?selection.family=Roboto:wght@700");

    .sidebar {
      overflow: hidden;
      background-color: #f1f1f1;
    }

    .contaner {
      background-color: rgb(255, 248, 244);
    }

    .sidebar nav li a {
      color: black;
      text-decoration: none;

    }

    .sidebar nav li {
      border-bottom: none;
      float: right;
      display: block;
      color: rgb(0, 0, 0);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 20px;
      border-bottom: 3px solid transparent;
    }

    .sidebar nav b {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 20px;
      border-bottom: 3px solid transparent;
    }

    .portfoliobanner img {
      height: 70vh;
    }
    .contact
    {
      
      background: #61b8bb38;
      padding: 20px;;
    }
    .contact h3{
      size: 30px;
      text-align: left;
      margin: 20px;
      padding:10px;
    }
    .contact span{
      size: 30px;
      text-align: 29px;
      margin: 35px;
      margin-top: 10px;
      padding: 0px;
      margin-bottom: 20px;
    }
    .contact .contact-1
    {

    }
